.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family: Iceland;
  color: #f2f2f3;
  text-align: center;
  letter-spacing: 2px;
  padding: 0 12px;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  background: linear-gradient(135deg, #ffffff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.icon-img {
  width: 100px;
}

@media (max-width: 450px) {
  .logoText {
    flex-direction: column;
  }
}
